<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<style>
    body {
        font-family: Arial, sans-serif;
    }
</style>
<body>
<div>
    <th:block th:each="msg : ${messages}">
        <h1 th:text="${msg}"></h1>
    </th:block>
    <h2><a href="/admin">Welcome to  Users's list</a></h2>
    <h2><a href="/user">Welcome to  your profile</a></h2>
</div>
</body>
</html>